.container
 nav.navbar.navbar-inverse.navbar-fixed-top
  .container-fluid
   .navbar-header
     button(type='button' class='navbar-toggle collapsed', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
      span(class='sr-only') Toggle navegation
      span(class='icon-bar')
      span(class='icon-bar')
      span(class='icon-bar')
     a(class='navbar-brand' href='#')=title
   .collapse.navbar-collapse(id='bs-example-navbar-collapse-1')
     ul(class='nav navbar-nav')
      li(class='active') 
       a(href='#') Link
        span(class='sr-only') (current)
      li
       a(href='#') Link  
      li(class='dropdown')
        a(class='dropdown-toggle' href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false') Dropdown
         span(class='caret')
        ul(class='dropdown-menu')
         li
          a(href='#') Action
         li 
          a(href='#') Another action 
         li 
          a(href='#') Something else here
         li(class='divider', role='separator')
         li
          a(href='#') Separated link
         li(class='divider', role='separator')
         li
          a(href='#') One more separated link

